*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-focus-ring-color: transparent; 
    outline-color: #000;
}

::selection {
  background-color: #000;
  color: #fff;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    color: #111827;
    overscroll-behavior-y: none;
}

body, p, button, li, input, textarea {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #111827;
}

strong {
   color: #111827;
}

h1, h2, h3, h4, h5, h6, .heading-large {
    line-height: 1.5;
    font-weight: 700;
}

h1, h2, .heading-large {
    font-size: 2.5rem;
}

h1, h2 {
    text-align: center;
}

.heading-large {
    text-align: left;
    color: #111827;
}

h3 {
    font-size: 1.8rem;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: justify;
    color: #374151;
}

ul,
ul li {
   margin:0;
   padding: 0;
   text-indent: 0;
   list-style-type: none;
}

label, input, textarea {
    display: block;
}

input, textarea {
    background-color: transparent;
}

textarea {
    resize: none;
}

video {
    width: 100%;
}

/* component classes */

.subheading, .subheading * {
    font-weight: 600;
    text-align: left;
    font-size: 2rem;
    color: #2b3341;
}

.subheading-bold, .subheading-bold * {
    font-weight: 700;
    color: #111827;
}

.large, .large p {
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.container {
    padding: 0 2rem;
}

.container-slim {
    margin: 0 2rem;
}

.container-block {
    margin: 0;
}

.block-group {
    padding: 2rem 0;
}

.btn {
    display: inline-block;
    border: none;
    border-radius: 50px;
    padding: 16px 24px;
    font-size: 1.2rem;
    text-transform: uppercase;
    background-color: #111827;
    color: #fff;
    font-weight: 600;
    box-shadow: 0px 10px 10px -10px #000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover, .btn:focus {
    box-shadow: none;
    transform: scale(0.97);
}

.btn:disabled {
    background-color: #374151;
}
.btn:disabled {
    box-shadow: none;
    transform: scale(0.97);
}

/* util classes */

.mb-md {
    margin-bottom: 1rem;
}

.mb-lg {
    margin-bottom: 2rem;
}

.mb-xl {
    margin-bottom: 3rem;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(min-width: 600px) {
    h1, h2, .heading-large {
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
    }

    .container-slim {
        margin: 0 4rem;
    }

    .container {
        padding: 0 4rem;
    }
}

@media(min-width: 768px) {
    h1, h2, .heading-large {
        font-size: 3.4rem;
    }

    p {
        font-size: 1.8rem;
    }

    .subheading, .subheading * {
        font-size: 2.4rem;
    }

    .large, .large p {
        font-size: 2rem;
        margin-bottom: 2.6rem;

    }

    .container-slim {
        margin: 0 10rem;
    }

    .container-block {
        margin: 0 10%;
    }
}

@media(min-width: 1024px) {
    h1, h2, .heading-large {
        font-size: 4rem;
    }

    h3 {
        font-size: 2rem;
    }

    p {
        font-size: 2rem;
    }

    .large, .large p {
        font-size: 2.2rem;
        margin-bottom: 3rem;

    }

    .container-slim {
        margin: 0 20rem;
    }

    .container-block {
        margin: 0 15%;
    }

    .block-group {
        padding: 3rem 0;
    }

    .btn {
        font-size: 1.6rem;
    }
}

@media(min-width: 1200px) {
    h1, h2, .heading-large {
        font-size: 4.4rem;
    }

    .subheading, .subheading * {
        font-size: 2.8rem;
    }

    .large, .large p {
        font-size: 2.4rem;
    }

    .container {
        padding: 0 7vw;
    }

    .container-slim {
        margin: 0 25vw;
    }

    .container-block {
        margin: 0 20%;
    }
}