.grid {
    display: grid;
    gap: 4.4rem;
}

@media (min-width: 768px) {
    .grid {
        gap: 6rem;
    }
}

@media (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 8rem 6rem;
    }
}