.header {
    position: relative;
}

.content {
    padding-top: 16rem;
}

.subheading {
    font-weight: 600;
    font-size: 2rem;
    color: #2b3341;
}

.imgWrapper {
    margin: 4rem 0;
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    .content {
        width: 80%;
    }
    .subheading {
        font-size: 2.4rem;
    }
    .imgWrapper {
        width: 70%;
        margin: 5rem auto;
    }
}

@media (min-width: 1024px) {
    .header {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 5rem;
    }
    .content {
        padding: 5vh 0;
        width: 50%;
    }
    .imgWrapper {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 90vh;
        margin: 5vh 0;

    }
}

@media (min-width: 1200px) {
    .subheading {
        font-size: 2.8rem;
    }
}