.header {
    position: relative;
    margin-bottom: 8rem;
    background-color: #f7f6fb;
}

.content {
    padding-top: 16rem;
}

.imgWrapper {
    margin: 4rem 0;
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    .content {
        width: 80%;
    }
    .imgWrapper {
        width: 70%;
        margin: 5rem auto;
    }
}

@media (min-width: 1024px) {
    .header {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 10rem;
    }
    .content {
        padding: 5vh 0;
        width: 50%;
    }
    .imgWrapper {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 90vh;
        margin: 5vh 0;

    }
}