.container {
    margin-bottom: 8rem;    
}

.title {
    margin-bottom: 4.4rem;
}

@media (min-width: 768px) {
    .title {
        margin-bottom: 5rem;
    }

    .container {
        margin-bottom: 9rem;    
    }
    
}

@media (min-width: 1024px) {
    .container {
        margin-bottom: 11rem;    
    }
}

@media (min-width: 1200px) {
    .title {
        margin-bottom: 5.6rem;
    }

    .container {
        margin-bottom: 14rem;    
    }
}