.consent {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

@media (min-width: 600px) {
    .consent {
        font-size: 1.4rem;
        margin-bottom: 3rem;
    }
    .form {
        margin: 0 5%;
    }    
}

@media (min-width: 1600px) {
    .form {
        margin: 0 10%;
    }    
}