.feedback {
    padding: 1rem;
    border-width: 2px;
    border-style: solid;
}

.error {
    background-color: #FEF2F2;
    border-color: #7F1D1D;
    color: #7F1D1D;
}

.error p {
    color: #7F1D1D;
}

.success {
    background-color: #ECFDF5;
    border-color: #047857;
    color: #064E3B;
}

.success p {
    color: #064E3B;
}

@media (min-width: 1024px) {
    .feedback {
        padding: 2rem;
    }
    .feedback p {
        font-size: 0.9em;
    }
}