.imageWrapper {
    overflow: hidden;
}

.image {
    transform: scale(1.05);
    transition: transform 0.35s ease-in-out;
}

.image:hover {
    transform: scale(1);
}

.title {
    margin-top: 1.4rem;
}

.paragraph {
    margin-top: 0.6rem;
    font-size: 1.4rem;
}

@media (min-width: 600px) {
    .paragraph {
        font-size: 1.6rem;
    }
}

@media (min-width: 1200px) {
    .title {
        margin-top: 1.8rem;
    }

    .paragraph {
        font-size: 1.7rem;
    }
}

